<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>


  <!--
  <logger name="org.testcontainers" level="WARN"/>
  <logger name="tc.axonserver" level="WARN"/>
  <logger name="org.springframework.core.annotation.AnnotationTypeMapping" level="ERROR"/>
  -->
</configuration>
